body html #root {
    height: 100%;
}

.Weather {
    color: white;
    text-align: center;
    justify-content: center;
}

.Weather h1 {
    font-size: 60px;
    font-family: "Poppins";
    margin: 0;
}

.Weather h2 {
    font-size: 45px;
    font-family: "Poppins";
    margin: 0;
}

.temp h1 {
    font-family: "Poppins";
    font-size: 80px;
    font-weight: bold;
    margin: 0;
}

.cityname h1 {
    font-size: 40px;
    font-family: "Poppins";
    color: yellow;
    margin: 0;
}

.unitSelect label {
    font-family: "Poppins";
}

.unitSelect select {
    outline: 0;
    font-family: "Poppins";
    padding: 0em;
    justify-content: center;
}

.param h2 {
    font-size: 40px;
    font-family: "Poppins";
    margin: 0;
}

.desc h3 {
    font-size: 25px;
    font-family: "Poppins";
    font-style: italic;
    margin: 1.2px;
}

img {
    margin: 0;
}